/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Body Styling */
body {
    font-family: Arial;
    margin: 0;
    background-color: black;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #111;
}

nav h2 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Hero Section */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 15px 0;
}

/* About Section */
.about {
    padding: 50px;
    text-align: center;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.about p {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

/* Contact Section */
.contact {
    padding: 40px;
    text-align: center;
    background-color: #111;
}

.contact h2 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    font-size: 14px;
}

/* Button */
button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

/* Hover Effect */
button:hover {
    background-color: #ccc;
}

/* Section Spacing */
section {
    margin-bottom: 50px;
}
