/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    margin: 0;
    font-family: Arial;
    background-color: black;
    color: white;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #111;
}

nav h2 {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin: 15px 0;
}

/* Button */
button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

/* About Section */
.about {
    padding: 60px;
    text-align: center;
}

.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

/* Skills Section */
.skills {
    padding: 60px;
    text-align: center;
    background-color: #111;
}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill-box p {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
}
/* Projects Section */
.projects {
    padding: 60px;
    text-align: center;
}

.project-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background-color: #111;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

/* Contact Section */
.contact {
    padding: 60px;
    text-align: center;
    background-color: #111;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: black;
    font-size: 14px;
}
